<html>
  <head>
    <title>redirecting...</title>
    <% if @meta -%>
      <meta http-equiv="refresh" content="0;url=<%=h @target %>"/>
    <% end -%>
  </head>
  <body>
    <p>Redirecting to <a href="<%= @target %>"><%= @target %></a></p>
  </body>
</html>

